
nav a{
    color: black;
}

.main{
    position: relative;
}
.cover{
    position: relative;
}
.head{
    position: absolute;
    top: 50px;
    left: 90px;
}
.reno1{
    position: absolute;
    top: 300px;
    left: 90px;
}
#reno sub{
    color: rgba(143, 143, 143, 0.889);
    font-size: 20px;
}
.btn{
    border-radius: 25px;
    border-color: black;
}
.reno2{
    position: absolute;
    top: 300px;
    left: 90px;
}
.reno2 .btn1{
    border-radius: 25px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0) ;
}
#reno sub{
    color: rgba(81, 81, 81, 0.952);
    font-size: 20px;
}
.reno3{
    position: absolute;
    top: 100px;
    left: 90px;
    color: white;
}
.reno4{
    position: absolute;
    top: 300px;
    left: 90px;
}
.reno4 .btn{
    border-radius: 25px;
    border-color: black;
    background-color: black ;
}
#jk{
    color: rgba(208, 207, 207, 0.881);
    font-size: 20px;
}

    .grid{
    position: relative;
 }
 .reno12{
    position: absolute;
    top: 20px;
    left: 20px;
 }
 .insidediv{
    background-color: rgb(210, 253, 210);
    position: absolute;
    width: 250px;
    height: 200px;
    left: 1px;
    top: 220px;
    padding:10px  15px;
 }
 .grid1{
    display: flex;

 }
 .subgrid1{
    flex: 50%;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 400px;
    margin-right: 2px;
    margin-top: 4px;
    position: relative;
    
 }
 .subgrid2{
    flex: 50%;
    background-color:  rgb(247, 247, 247);
    width: 100%;
    height: 400px;
    margin-left: 2px;
    margin-top: 4px;
    position: relative;
 }
 .a3pro{
    right: 20px;
    top: 10px;
    position: absolute;
 }
 .a3{
    right: 20px;
    top: 10px;
    position: absolute;
 }
 .insidediv1{
    background-color: rgb(207, 202, 195);
    position: absolute;
    width: 250px;
    height: 200px;
    left: 20px;
    top: 180px;
    padding:10px  15px;
 }
 .insidediv2{
    background-color:rgb(207, 202, 195);
    position: absolute;
    width: 250px;
    height: 200px;
    left: 20px;
    top: 180px;
    padding:10px  15px;
 }
 /* .ar{
    left:10px;
    top: 20px;
 }
 .ak{ */

 
 footer h6 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  
  footer a {
    text-decoration: none;
  }
  
  /* footer p {
    font-size: 0.875rem;
  } */
  
  footer .btn-outline-light {
    border: 1px solid #fff;
    margin-top: 1rem;
  }
  
  footer .fa {
    font-size: 1.25rem;
  }
  
  footer .fa:hover {
    color: #fafafa;
  }
  #support{
    font-size: 45px;
    padding-left: 200px;
  }
  .footer1{
    background-color: white;
    width: 100%;
    height:auto;
  }
  .list{
    padding-left: 800px;
  }
  .offers{
    display: flex;
}
.card{
    margin-right: 4px;
}
.offers{
    display: flex;
}
.card-titile{
    font-size: 20px
}
.card-text{
    font-size: 15px;
}
h3{
    margin-top: 40px;
}
video{
    margin-top: 40px;
    width: 100%;
    height: 700px;
}
  